/* ? below 1344px (smaller desktop)   */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-priamry {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ? bellow 1200 px  */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .heading-seconde {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .grid {
    column-gap: 4.8rem;
  }
}
